$primary: #00aaff;
$primary-dark: #0084c6;
$primary-light: #39bdff;
$success: #39f40b;
$warning: #ff7b00;
$danger: #ff001d;
$info: #1c0bf4;

$factor: 87.5%;

$font-size-base: 1.125rem;
$enable-responsive-font-sizes: true;
$font-family-sans-serif: 'Montserrat', sans-serif !default;
$headings-font-family: 'Montserrat Alternates', serif !default;

$white: scale-color($primary, $lightness: $factor, $saturation: -$factor);
$gray-050: scale-color($primary, $lightness: $factor/5*4.5, $saturation: -$factor);
$gray-100: scale-color($primary, $lightness: $factor/5*4, $saturation: -$factor);
$gray-200: scale-color($primary, $lightness: $factor/5*3, $saturation: -$factor);
$gray-300: scale-color($primary, $lightness: $factor/5*2, $saturation: -$factor);
$gray-400: scale-color($primary, $lightness: $factor/5, $saturation: -$factor);
$gray-500: scale-color($primary, $lightness: 0%, $saturation: -$factor);
$gray-600: scale-color($primary, $lightness: -$factor/5, $saturation: -$factor);
$gray-700: scale-color($primary, $lightness: -$factor/5*2, $saturation: -$factor);
$gray-800: scale-color($primary, $lightness: -$factor/5*3, $saturation: -$factor);
$gray-900: scale-color($primary, $lightness: -$factor/5*4, $saturation: -$factor);
$black: scale-color($primary, $lightness: -$factor, $saturation: -$factor);

@import "bootstrap/scss/bootstrap.scss";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
    flex: 1;
}
footer {
    a, a:hover {
        color: $white;
    }
}
main a, footer a {
    font-weight: bold;
 }
main .container, footer .container {
    > :last-child {
        margin-bottom: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    @extend .mb-3;
}
hr {
    @extend .my-5, .mx-n2, .mx-sm-n3;
}
.navbar {
    @extend .py-1;
}
.navbar-brand {
    padding-top: 0;
}
.badge {
    font-weight: normal;
}
.jumbotron {
    margin: 0;
    padding: 0;
    .container {
        @extend .text-center, .p-5;
    }
}
.yx-logogram {
        height: 1rem;
}
.yx-jumbotron-home {
    @extend  .jumbotron, .jumbotron-fluid, .bg-primary, .text-light;
    background-image: linear-gradient(to top right, $primary-light, $primary-dark);
}
.yx-logo {
    max-height: 14rem;
}
.yx-heading {
    @extend small, .text-muted, .mb-3;
    text-transform: uppercase;
}
.yx-avatar {
    @extend .mr-3, .rounded-circle;
}
.yx-stretched-linkable {
    position: relative;
}
.yx-content.container {
    h1, h2, h3, h4, h5, h6 {
        @extend .mt-5;
        .yx-anchor {
            display: none;
        }
    }
    h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
        .yx-anchor {
            display: inline;
        }
    }
    figure {
        @extend .my-5, .text-center;
        position: relative;
        left: 50%;
        right: 50%;
        @media (max-width: 991px) {
            margin-left: -50vw;
            margin-right: -50vw;
            width: 100vw;
        }
        @media (min-width: 992px) {
            max-width: 960px;
            margin-left: -480px;
            margin-right: -480px;
        }
        @media (min-width: 1200px) {
            max-width: 1140px;
            margin-left: -570px;
            margin-right: -570px;
        }
    }
    figcaption {
        @extend small;
    }
}
