$primary: #00aaff;
$success: #39f40b;
$warning: #ff7b00;
$danger: #ff001d;
$info: #1c0bf4;

$white: #E4EAEC;
$gray-050: #D7DFE3;
$gray-100: #CAD5DA;
$gray-200: #B1C0C7;
$gray-300: #9AACB4;
$gray-400: #8498A2;
$gray-500: #70858F;
$gray-600: #5D6F77;
$gray-700: #4B595F;
$gray-800: #384348;
$gray-900: #252C30;
$black: #131618;
$primary-white: #D5F1FF;
$primary-050: #C0EAFF;
$primary-100: #AAE3FF;
$primary-200: #80D4FF;
$primary-300: #55C6FF;
$primary-400: #2AB8FF;
$primary-600: #008ED5;
$primary-700: #0071AA;
$primary-800: #005580;
$primary-900: #003955;
$primary-black: #001C2A;
$success-white: #DDFDD5;
$success-050: #CCFCC1;
$success-100: #BBFBAB;
$success-200: #9AFA82;
$success-300: #79F85A;
$success-400: #59F632;
$success-600: #30CB09;
$success-700: #26A307;
$success-800: #1D7A05;
$success-900: #135104;
$success-black: #0A2902;
$warning-white: #FFE9D5;
$warning-050: #FFDEC0;
$warning-100: #FFD3AA;
$warning-200: #FFBD80;
$warning-300: #FFA755;
$warning-400: #FF912A;
$warning-600: #D56700;
$warning-700: #AA5200;
$warning-800: #803E00;
$warning-900: #552900;
$warning-black: #2A1400;
$danger-white: #FFD5D9;
$danger-050: #FFC0C7;
$danger-100: #FFAAB4;
$danger-200: #FF808E;
$danger-300: #FF5568;
$danger-400: #FF2A43;
$danger-600: #D50018;
$danger-700: #AA0013;
$danger-800: #80000E;
$danger-900: #55000A;
$danger-black: #2A0005;
$info-white: #D8D5FD;
$info-050: #C5C1FC;
$info-100: #B1ABFB;
$info-200: #8B82FA;
$info-300: #665AF8;
$info-400: #4032F6;
$info-600: #1709CB;
$info-700: #1307A3;
$info-800: #0E057A;
$info-900: #090451;
$info-black: #050229;

$font-size-base: 1.125rem;
$code-font-size: inherit;
$enable-responsive-font-sizes: true;
$font-family-sans-serif: 'Montserrat', sans-serif !default;
$headings-font-family: 'Montserrat Alternates', serif !default;

@import "bootstrap/scss/bootstrap.scss";

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
    flex: 1;
}
a:hover {
    color: $primary-700;
}
footer {
    @extend .pb-5;
    a, a:hover {
        color: $white;
    }
}
main a, footer a {
    font-weight: bold;
 }
main .container, footer .container {
    > :last-child {
        margin-bottom: 0;
    }
}
h1, h2, h3, h4, h5, h6 {
    @extend .mb-3, .mt-0;
    a.heading {
        @extend small;
        color: $gray-200;
        visibility: hidden;
        text-decoration: none;
    }
    &:hover {
        a.heading {
            visibility: visible;
            &:hover {
                color: $gray-400;
            }
        }
    }
}
hr {
    @extend .my-5, .mx-n2;
}
span[lang] {
    @extend abbr;
}
:last-child {
    @extend .mb-0;
}
.navbar {
    @extend .py-1, .navbar-dark, .navbar-expand-md, .bg-dark;
    button {
        @extend .btn, .btn-link, .d-md-none;
    }
    hr {
        @extend .d-md-none, .my-3;
    }
}
.navbar-brand {
    padding-top: 0;
}
header, footer {
    svg {
        max-height: 1rem;
        max-width: 2.5rem;
    }
}
.badge {
    font-weight: normal;
}
.jumbotron {
    @extend .jumbotron-fluid;
    margin: 0;
    padding: 0;
    h1 {
        @extend .display-4;
    }
    .container {
        @extend .text-center, .py-5;
    }
    .card {
        @extend .text-dark, .text-left;
    }
}
.card, .btn-shadow {
    @extend .shadow;
}
.card-footer {
    @extend .text-muted;
    a {
        font-weight: normal;
    }
}
.alert-info, .alert-success, .alert-warning, .alert-danger {
    a {
        @extend .alert-link;
    }
}
.alert-primary a {
    color: $primary-600;
}
.alert-primary a:hover {
    color: $primary-700;
}
.alert-secondary a, .alert-light a, .alert-dark a {
    color: $gray-600;
}
.alert-secondary a:hover, .alert-light a:hover, .alert-dark a:hover {
    color: $gray-700;
}
.alert-info a {
    color: $info-600;
}
.alert-info a:hover {
    color: $info-700;
}
.alert-success a {
    color: $success-600;
}
.alert-success a:hover {
    color: $success-700;
}
.alert-warning a {
    color: $warning-600;
}
.alert-warning a:hover {
    color: $warning-700;
}
.alert-danger a {
    color: $danger-600;
}
.alert-danger a:hover {
    color: $danger-700;
}
.yx-jumbotron {
    @extend  .jumbotron,, .bg-primary, .text-light;
    background-image: linear-gradient(to top right, $primary-300, $primary-700);
    svg {
        max-height: 14rem;
    }
}
.yx-heading {
    @extend small, .text-muted, .mb-3;
    text-transform: uppercase;
}
.yx-avatar, .yx-favicon {
    @extend .mr-3, .rounded-circle;
    height: 64px;
    width: 64px;
}
.yx-stretched-linkable {
    position: relative;
}
.yx-content.container, .card {
    :first-child {
        @extend .mt-0;
    }
    :last-child {
        @extend .mb-0;
    }
}
.yx-attribution {
    @extend .text-muted, .text-right;
}
.yx-attribution::before {
    content: "—";
}
.yx-content.container {
    h1, h2, h3, h4, h5, h6 {
        @extend .mt-5;
    }
    h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6 {
        @extend .mt-0;
    }
    p > small {
        @extend .text-muted;
    }
    figure {
        @extend .my-5, .text-center;
        position: relative;
        left: 50%;
        right: 50%;
        @media (max-width: 767px) {
            margin-left: -49vw;
            margin-right: -49vw;
            width: 98vw;
        }
        @media (min-width: 768px) {
            max-width: 720px;
            margin-left: -360px;
            margin-right: -360px;
        }
        @media (min-width: 992px) {
            max-width: 960px;
            margin-left: -480px;
            margin-right: -480px;
        }
        @media (min-width: 1200px) {
            max-width: 1140px;
            margin-left: -570px;
            margin-right: -570px;
        }
        img {
            @extend .shadow, .img-fluid;
        }
    }
    figcaption {
        @extend small, .col-xl-8, .col-lg-10, .mt-3, .mx-auto;
        a {
            font-weight: normal;
        }
    }
    blockquote {
        @extend .lead, .col-md-10, .mx-auto, .my-5, .bg-secondary, .text-light, .p-5, .rounded-lg, .shadow;
        quotes: "“" "”" "‘" "’";
        :last-child {
            @extend .mb-0;
        }
        p:first-child {
            text-indent: -0.5em;
        }
        p:first-of-type::before, p:last-of-type::after {
            color: $primary;
            font-weight: bold;
        }
        p:first-of-type::before {
            content: open-quote;
        }
        p:last-of-type::after {
            content: close-quote;
        }
        strong {
            font-weight: bold;
        }
        a {
            color: $white;
        }
        .yx-attribution {
            @extend small, .text-light;
        }
    }
    table {
        @extend small, .table, .table-striped, .table-hover, .my-5;
        thead {
            font-weight: bold;
        }
    }
    pre, .alert {
        @extend .p-3;
    }
    .highlight, .alert, .card {
        @extend .mx-md-n3;
    }
    .highlight, .alert {
        @extend .shadow;
    }
    .card {
        @extend .my-5;
    }
    .card .yx-attribution {
        @extend small;
    }
    .card-body {
        background-color: white;
    }
    .highlight {
        @extend .my-5;
    }
}
