<header>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">
        <div class="container">
            <a class="navbar-brand"
                href="{{ .Site.Home.RelPermalink }}">{{ partial "ypertex-logogram-2020-03.svg" }}</a>
            <div class="navbar-collapse collapse">
                <div class="navbar-nav mr-auto">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.header }}
                    <a href="{{ .URL | relURL }}"
                        class="nav-item nav-link{{ if or ($currentPage.IsMenuCurrent "header" .) ($currentPage.HasMenuCurrent "header" .) }} active{{ end }}">{{ .Name }}</a>
                    {{ end }}
                </div>
                <div class="navbar-nav">
                    {{ range .Site.Menus.social }}
                    <a href="{{ .URL }}" class="nav-item nav-link" title="{{ .Name }}">{{ .Pre }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
</header>