<section class="yx-content container py-5">
    <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto">
            <p class="lead">{{ .Summary }}{{ if ne .PublishDate .Lastmod }} <small class="text-muted">[Edited
                    {{ .Lastmod | dateFormat .Site.Params.dateFormat }}]</small>{{ end }}</p>
                    {{ if ne .CurrentSection .FirstSection }}{{ partial "article-toc.html" . }}{{ end }}
            <hr>
            {{ .Content }}
            {{ if and (ne .CurrentSection .FirstSection) .IsPage }}<hr>
            {{ partial "article-toc.html" . }}{{ end }}
        </div>
    </div>
</section>
