<div class="row align-items-center">
    <div class="col-md-4 mb-3 mb-md-0{{ if .inverted }} order-md-last{{ end }}">
        {{ if .article.Params.cover }}
        <a href="{{ .article.RelPermalink }}">
            <picture>
                <source media="(min-width: 1200px)"
                    srcset="{{ .cloudinary.baseURL }}{{ .cloudinary.transformations.indexXl }}{{ .article.Params.cover }}">
                <source media="(min-width: 992px)"
                    srcset="{{ .cloudinary.baseURL }}{{ .cloudinary.transformations.indexLg }}{{ .article.Params.cover }}">
                <source media="(min-width: 768px)"
                    srcset="{{ .cloudinary.baseURL }}{{ .cloudinary.transformations.indexMd }}{{ .article.Params.cover }}">
                <source media="(min-width: 576px)"
                    srcset="{{ .cloudinary.baseURL }}{{ .cloudinary.transformations.indexSm }}{{ .article.Params.cover }}">
                <img src="{{ .cloudinary.baseURL }}{{ .cloudinary.transformations.indexXs }}{{ .article.Params.cover }}"
                    alt="" class="shadow w-100">
            </picture>
        </a>
        {{ end }}
    </div>
    <div class="col-md-8{{ if .inverted }} text-md-right{{ end }}">
        {{ partial "article-head.html" .article }}
    </div>
</div>