{{ define "main" }}
<section class="yx-jumbotron">
    <div class="container">
        {{ partial "ypertex-logo-2020-03.svg" }}
        {{ with .Site.Params.Description }}<p class="lead mt-3">{{ . }}</p>{{ end }}
    </div>
</section>
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                {{ partial "author.html" (.GetPage "author") }}
            </div>
        </div>
    </div>
</section>
{{ partial "article-list.html" (.GetPage "articles") }}
{{ partial "pagination.html" (.GetPage "articles") }}
{{ end }}