{{ define "main" }}
<section class="yx-jumbotron">
    <div class="container">
        {{ partial "ypertex-logo-2020-03.svg" }}
        {{ with .Site.Params.Description }}<p class="lead mt-3">{{ . }}</p>{{ end }}
    </div>
</section>
<section class="bg-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-8 col-lg-10 mx-auto">
                <div class="yx-heading">About the Author</div>
                {{ partial "author.html" (.GetPage "author") }}
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    {{ range $index, $article := first 10 (.GetPage "articles").Pages }}
    {{ if gt $index 0 }}
    <hr>
    {{ end }}
    {{ partial "covered-article-head.html" (dict "article" $article "cloudinary" .Site.Params.cloudinary "inverted" (modBool $index 2)) }}
    {{ end }}
</section>
<section class="bg-light py-5">
    <div class="container">
        {{ partial "pagination.html" (.GetPage "articles") }}
    </div>
</section>
{{ end }}