<figure>
    <picture>
        <source media="(min-width: 1200px)"
            srcset="{{ .Site.Params.cloudinary.baseURL }}{{ .Site.Params.cloudinary.transformations.figureXl }}{{ .Get `src` }}">
        <source media="(min-width: 992px)"
            srcset="{{ .Site.Params.cloudinary.baseURL }}{{ .Site.Params.cloudinary.transformations.figureLg }}{{ .Get `src` }}">
        <source media="(min-width: 768px)"
            srcset="{{ .Site.Params.cloudinary.baseURL }}{{ .Site.Params.cloudinary.transformations.figureMd }}{{ .Get `src` }}">
        <source media="(min-width: 576px)"
            srcset="{{ .Site.Params.cloudinary.baseURL }}{{ .Site.Params.cloudinary.transformations.figureSm }}{{ .Get `src` }}">
        <img src="{{ .Site.Params.cloudinary.baseURL }}{{ .Site.Params.cloudinary.transformations.figureXs }}{{ .Get `src` }}"
            alt="" class="shadow img-fluid">
    </picture>
    <figcaption class="mt-3 col-md-8 mx-auto">
        {{ .Inner | markdownify }}{{ with .Get `cite` }} <span class="text-muted">[Image:
            {{ . | markdownify }}]</span>{{ end }}
    </figcaption>
</figure>